<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/admin/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/admin/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/admin/assets/vendors/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/admin/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css-->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/admin/assets/css/style.css">
    <!-- End layout styles -->
    <!-- <link rel="shortcut icon" href="./admin/assets/images/favicon.png" /> -->
</head>

<body>

    <div class="container-scroller">

        <div class="row p-0 m-0 proBanner" id="proBanner">
            <div class="col-md-12 p-0 m-0">
                <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center justify-content-between">
                        <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"><i
                                class="mdi mdi-home me-3 text-white"></i></a>
                        <button id="bannerClose" class="btn border-0 p-0">
                            <i class="mdi mdi-close text-white mr-0"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div style="text-align: center; margin-left: 40px; margin-top: 5px;">
                    <div style="font-size: 2.2rem; font-weight: 700; color: #ff6b35; display: inline-block; font-weight: 600;">
                        Tech<span style="color: #2b2d42;">Genius</span>
                    </div>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="search-field d-none d-md-block">
                </div>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="https://www.shutterstock.com/image-vector/user-icon-trendy-flat-style-600nw-418179856.jpg" style="width: 50px; height: auto; object-fit: cover; margin-bottom: 5px;" alt="profile" />
                                <span class="login-status online"></span>
                                <!--change to offline or busy as needed-->
                            </div>
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">Mr. Digant Arora</span>
                                <span class="text-secondary text-small">Admin</span>
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>
            
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false"
                            aria-controls="icons">
                            <span class="menu-title">IGCSE&IBTutoring</span>
                            <i class="mdi mdi-contacts menu-icon"></i>
                        </a>
                        <div class="collapse" id="icons">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/igcse-ib-enquiries">IGCSE&IBTutoring Enquiries</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#forms" aria-expanded="false"
                            aria-controls="forms">
                            <span class="menu-title" style="color: #3e4b5b;">Bookings</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                        <div class="collapse" id="forms">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/upcoming-bookings" style="color: #888;">Booking
                                        Enquiries</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false"
                            aria-controls="charts">
                            <span class="menu-title">Test Pre</span>
                            <i class="mdi mdi-chart-bar menu-icon"></i>
                        </a>
                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/greTest-enquiries">GRE</a>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/gmatTest-enquiries">GMAT</a>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/satTest-enquiries">SAT</a>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/actTest-enquiries">ACT</a>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/ieltsTest-enquiries">IELTS</a>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/toeflTest-enquiries">TOEFL</a>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/apTest-enquiries">AP</a>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/pteTest-enquiries">PTE</a>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse" id="charts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/cbseTest-enquiries">CBSE/NCERT</a>
                                </li>
                            </ul>
                        </div>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false"
                            aria-controls="tables">
                            <span class="menu-title">Free Demo</span>
                            <i class="mdi mdi-table-large menu-icon"></i>
                        </a>
                        <div class="collapse" id="tables">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/freeDemoAdmin">Free Demo Classes</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false"
                            aria-controls="auth">
                            <span class="menu-title">Courses Enquiry</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-lock menu-icon"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/course-enquiries">Courses Enquiries</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="/paymentShow" target="_blank">
                          <span class="menu-title">Payment Detailes</span>
                          <i class="mdi mdi-file-document-box menu-icon"></i>
                        </a>
                      </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white me-2">
                                <i class="mdi mdi-home"></i>
                            </span> Dashboard
                        </h3>
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">
                                    <span></span>Overview <i
                                        class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- Search Bar for Bookings -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" id="bookingSearchInput" class="form-control"
                                    placeholder="Search bookings by name, course, center...">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="clearBookingSearchBtn" style="background: linear-gradient(to right, #da8cff, #9a55ff) !important;">
                                        <i class="mdi mdi-close"></i> Clear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Recent Enquiries</h4>
                                    <div class="table-responsive">
                                        <table class="table" id="bookingTable">
                                            <thead>
                                                <tr>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Course</th>
                                                    <th>Batch Type</th>
                                                    <th>Session Date</th>
                                                    <th>Session Days</th>
                                                    <th>Session Time</th>
                                                    <th>Address</th>
                                                    <th>State</th>
                                                    <th>City</th>
                                                    <th>Center</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="bookingTableBody">
                                                <% if (bookings.length> 0) { %>
                                                    <% bookings.forEach(booking=> { %>
                                                        <tr class="booking-row">
                                                            <td>
                                                                <%= booking.firstName %>
                                                            </td>
                                                            <td>
                                                                <%= booking.lastName %>
                                                            </td>
                                                            <td>
                                                                <%= booking.email %>
                                                            </td>
                                                            <td>
                                                                <%= booking.phone %>
                                                            </td>
                                                            <td>
                                                                <%= booking.course %>
                                                            </td>
                                                            <td>
                                                                <%= booking.batchType %>
                                                            </td>
                                                            <td>
                                                                <%= booking.sessionDate.toLocaleDateString() %>
                                                            </td>
                                                            <td>
                                                                <%= booking.sessionDays %>
                                                            </td>
                                                            <td>
                                                                <%= booking.sessionTime %>
                                                            </td>
                                                            <td>
                                                                <%= booking.address %>
                                                            </td>
                                                            <td>
                                                                <%= booking.state %>
                                                            </td>
                                                            <td>
                                                                <%= booking.city %>
                                                            </td>
                                                            <td>
                                                                <%= booking.center %>
                                                            </td>
                                                            <td>
                                                                <form action="/delete-booking/<%= booking._id %>"
                                                                    method="POST"
                                                                    onsubmit="return confirm('Are you sure you want to delete this booking?');">
                                                                    <button type="submit"
                                                                        class="btn btn-danger btn-sm">Delete</button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                            <% } else { %>
                                                                <tr id="bookingNoDataRow">
                                                                    <td colspan="14" class="text-center">No bookings
                                                                        found</td>
                                                                </tr>
                                                                <% } %>
                                            </tbody>
                                        </table>
                                        <div id="bookingNoResultsMessage" class="alert alert-info text-center mt-3"
                                            style="display:none;">
                                            No matching bookings found
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023 <a
                                href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights
                            reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made
                            with <i class="mdi mdi-heart text-danger"></i></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="./admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="./admin/assets/vendors/chart.js/chart.umd.js"></script>
    <script src="./admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="./admin/assets/js/off-canvas.js"></script>
    <script src="./admin/assets/js/misc.js"></script>
    <script src="./admin/assets/js/settings.js"></script>
    <script src="./admin/assets/js/todolist.js"></script>
    <script src="./admin/assets/js/jquery.cookie.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="./admin/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Booking Search Functionality
            const bookingSearchInput = document.getElementById('bookingSearchInput');
            const clearBookingSearchBtn = document.getElementById('clearBookingSearchBtn');
            const bookingTableBody = document.getElementById('bookingTableBody');
            const bookingNoResultsMessage = document.getElementById('bookingNoResultsMessage');
            const bookingNoDataRow = document.getElementById('bookingNoDataRow');
            const bookingRows = document.querySelectorAll('.booking-row');

            function filterBookingTable() {
                const searchTerm = bookingSearchInput.value.toLowerCase().trim();
                let hasMatches = false;

                // If no search term, show all rows
                if (!searchTerm) {
                    bookingRows.forEach(row => row.style.display = '');
                    bookingNoResultsMessage.style.display = 'none';
                    if (bookingNoDataRow && bookingRows.length === 0) {
                        bookingNoDataRow.style.display = '';
                    }
                    return;
                }

                // Search through each row
                bookingRows.forEach(row => {
                    const rowText = row.textContent.toLowerCase();
                    if (rowText.includes(searchTerm)) {
                        row.style.display = '';
                        hasMatches = true;
                    } else {
                        row.style.display = 'none';
                    }
                });

                // Show appropriate messages
                if (bookingNoDataRow) bookingNoDataRow.style.display = 'none';
                bookingNoResultsMessage.style.display = hasMatches ? 'none' : 'block';
            }

            // Event listeners for Booking table
            bookingSearchInput.addEventListener('input', function () {
                filterBookingTable();
            });

            clearBookingSearchBtn.addEventListener('click', function () {
                bookingSearchInput.value = '';
                filterBookingTable();
                bookingSearchInput.focus();
            });

            // Initialize
            filterBookingTable();
        });
    </script>

</body>

</html>